/*h2 {
  text-align: center;
}*/

.background {
  background-color: white;
}

.playerRow {
  display: flex;
  /*background-color: yellow;*/
  background-color: #f5f5f5;
  /*height: 50px;*/
  align-items: center;
  padding: 5px;
  margin: 15px;
  box-shadow: 5px 5px 5px #999999;
  justify-content: space-between;
  align-items: center;
}

.details {
  display: flex;
  /*background-color: red;*/
  flex: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /*padding: 10px;*/
}

.total {
  display: flex;
  /*background-color: blue;*/
  /*padding: 10px;*/
  align-items: center;
  justify-content: center;
  flex: 15%;
}

.results {
  display: flex;
  /*background-color: purple;*/
  /*padding: 10px;*/
  flex: 50%;
  flex-wrap: wrap;
  /*margin: 5px;*/
  /*justify-content: center;*/
}


.player {
  font-family: 'Open Sans';
  color: #2bb6a3;
  margin: 10px;
}

.pic {
  height: 40px;
  width: 40px;
}

.numbercircle {
    /*font: 32px Arial, sans-serif;*/
    font: 12px 'Open Sans';
    width: 2em;
    height: 2em;
    box-sizing: initial;

    /*background-color: #095692;*/
    background-color: #00275E;
    /*border: 0.1em solid yellow;*/
    color: white;
    text-align: center;
    /*border-radius: 50%;*/

    line-height: 2em;
    box-sizing: content-box;
}

.numbersquare {
    /*font: 32px Arial, sans-serif;*/

    font: 12px 'Open Sans';
    width: 2em;
    height: 2em;
    /*box-sizing: initial;*/

    /*background-color: #095692;*/
    background-color: #00275E;
    /*border: 0.1em solid yellow;*/
    color: white;
    text-align: center;
    /*border-radius: 50%;*/

    line-height: 2em;
    box-sizing: content-box;
    margin: 3px;
}

.numbersquare.red {
  background-color: #bd1010;
}


@media (max-width: 450px) {
  .results {
    display: none;
  }
  .total {
    justify-content: flex-end;
  }
  .second {
    flex-direction: column;
    /*justify-content: space-between;*/
    /*align-items: center;*/
  }
  .button1 {
    margin-bottom: 10px;
  }
  /*.lpHeading {
    font-size: 5vw;
    color: red;
  }*/
}


/* Not really using anything beyond this */

.totalBox {
  width: 50px;
  height: 50px;
  background-color: purple;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
}

.resultBox {
  display: flex;
  background-color: yellow;
  justify-content: flex-end;

}
