.roundSelect {
  /*display:inline-flex;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*background-color: pink;*/
  background-color: #f8f8f8;
  width: 100%;
  color: #434347;
  /*font-style: italic;*/
  align-items: center;
  font-size: small;
  border-bottom-color: #dadada;
  border-bottom-style: solid;
  border-bottom-width: thin;
  /*margin: 10px;*/
  padding: 10px;
  /*justify-content: space-between;*/
}

.roundItem {
  display: flex;
  /*background-color: red;*/
  flex: none;
  margin-left: 5px;
}

.roundNums {
  display: flex;
  /*width: 100%;*/
}

.roundItems {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  /*margin-right: 4px;*/
  /*background-color: blue;*/
  /*flex: 0 50%;*/

}

.paginatorButton {
  border: 0;
  background-color: inherit;
  color: inherit;
  margin: 5px;
}

.paginatorButton.selectedRound {
  background-color: #00275E;
  /*background-color: #095692;*/
  color: white;
}


@media (max-width: 900px) {
  .roundItems {
    /*font-size: 3vw;*/

  }
  .roundItem {
    justify-content: center;
  }
  .roundNums {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .roundSelect {
    display: none;
  }

}
